<!DOCTYPE html>
<html xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>首页</title>
</head>
<body>
<div id="box">
    <input type="button" v-on:click="post()" value="点击"/>
</div>
<script th:inline="javascript">
<div id="app">
			{{ info }}
		</div>
		<script th:inline="javascript">
			var vue = new Vue({
				el: '#app',
				data() {
					return {
						info: null
					}
				},
				mounted() {
					axios
					.get('http://localhost:8080/user/123456789')
					.then(response => (this.info = response))
					.catch(response => Console.log(response))
				}
			});
		</script>

</script>
<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</body>
</html>
